In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import re

In [2]:
#df = pd.read_html("CSSchedule.html")

with open("CSSchedule.html") as file:
    CourseList = []
    CourseName = []
    CourseProf = []
    CourseTime = []
    dom = BeautifulSoup(file, "html.parser")
    
    for i in range(3, 136):
        
        #print(dom.select(".row")[i].contents[5].text.strip())
        CourseProf.append(dom.select(".row")[i].contents[5].text.strip())
        
    for i in range(3, 136):
        
        CourseList.append(dom.select(".row")[i].text[:75].strip())
                          

    #print(CourseList)
    for i in range(3, 136):
        #print(dom.select(".row")[i].contents[3].text.replace("\n", "").replace("       ", " ").strip())
        CourseName.append(dom.select(".row")[i].contents[3].text.strip().replace("\n", "").replace("       ", " "))

    for i in range(3, 136):
        #print(dom.select(".row")[i].contents[7].text.strip())
        CourseTime.append(dom.select(".row")[i].contents[7].text.strip())

In [3]:
data = { 'Courses' : CourseList, 'Course Name': CourseName, 'Instructor' : CourseProf, 'Course Time': CourseTime}
df =  pd.DataFrame(data = data)

In [4]:
df

,Courses,Course Name,Instructor,Course Time
0,CSCI-GA.1144-​001,PAC II*,Mohamed Zahran,T 6:00-8:30PM
1,CSCI-GA.1144-​002,PAC II Recitation,TBA,R 7:10-8:00PM
2,CSCI-GA.1170-​001,Fundamental Algorithms,Chee Yap,M 5:10-7:00PM
3,CSCI-GA.1170-​002,Fundamental Algorithms Recitation,TBA,W 5:10-6:00PM
4,CSCI-GA.1170-​003,Fundamental Algorithms,Yevgeniy Dodis,T 7:10-9:00PM
...,...,...,...,...
128,CSCI-UA.0480-​011,Special Topics: Introduction to Computer Security,Joseph Bonneau,MW 12:30-1:45PM
129,CSCI-UA.0480-​012,Special Topics: Advanced Computer Systems,Michael Walfish,TR 3:30-4:45PM
130,CSCI-UA.0480-​013,Special Topics: TBA,TBA,TR 8:00-9:15AM
131,CSCI-UA.0480-​014,Special Topics: Data Management and Analysis,Joseph Versoza,TR 9:30-10:45AM
132,CSCI-UA.0490-​001,Special Topics: Programming Languages,Edward Yang,TR 11:00-12:15PM

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133 entries, 0 to 132
Data columns (total 4 columns):
Courses        133 non-null object
Course Name    133 non-null object
Instructor     133 non-null object
Course Time    133 non-null object
dtypes: object(4)
memory usage: 4.3+ KB

In [6]:
df.dtypes

Courses        object
Course Name    object
Instructor     object
Course Time    object
dtype: object

In [7]:
df.head(5)

,Courses,Course Name,Instructor,Course Time
0,CSCI-GA.1144-​001,PAC II*,Mohamed Zahran,T 6:00-8:30PM
1,CSCI-GA.1144-​002,PAC II Recitation,TBA,R 7:10-8:00PM
2,CSCI-GA.1170-​001,Fundamental Algorithms,Chee Yap,M 5:10-7:00PM
3,CSCI-GA.1170-​002,Fundamental Algorithms Recitation,TBA,W 5:10-6:00PM
4,CSCI-GA.1170-​003,Fundamental Algorithms,Yevgeniy Dodis,T 7:10-9:00PM

In [8]:
df.tail(5)

,Courses,Course Name,Instructor,Course Time
128,CSCI-UA.0480-​011,Special Topics: Introduction to Computer Security,Joseph Bonneau,MW 12:30-1:45PM
129,CSCI-UA.0480-​012,Special Topics: Advanced Computer Systems,Michael Walfish,TR 3:30-4:45PM
130,CSCI-UA.0480-​013,Special Topics: TBA,TBA,TR 8:00-9:15AM
131,CSCI-UA.0480-​014,Special Topics: Data Management and Analysis,Joseph Versoza,TR 9:30-10:45AM
132,CSCI-UA.0490-​001,Special Topics: Programming Languages,Edward Yang,TR 11:00-12:15PM

In [9]:
df.sample(5)

,Courses,Course Name,Instructor,Course Time
25,CSCI-GA.3033-​001,Special Topics: Big Data Science,Anasse Bari,W 5:10-7:00PM
27,CSCI-GA.3033-​003,Special Topics: Production Qualit...,Michael Schidlowsky,W 5:10-7:00PM
115,CSCI-UA.0453-​001,Theory Of Computation,Richard Cole,TR 11:00-12:15PM
29,CSCI-GA.3033-​007,Special Topics: Advanced Machine ...,Mehryar Mohri,T 7:10-9:00PM
11,CSCI-GA.2250-​002,Operating Systems,Shameem Akhter,W 7:10-9:00PM

In [10]:
df[['Course Number', 'Section Number']]= df['Courses'].str.split('-.\d', expand = True)
df.drop('Courses', axis=1, inplace = True)

In [11]:
df

,Course Name,Instructor,Course Time,Course Number,Section Number
0,PAC II*,Mohamed Zahran,T 6:00-8:30PM,CSCI-GA.1144,01
1,PAC II Recitation,TBA,R 7:10-8:00PM,CSCI-GA.1144,02
2,Fundamental Algorithms,Chee Yap,M 5:10-7:00PM,CSCI-GA.1170,01
3,Fundamental Algorithms Recitation,TBA,W 5:10-6:00PM,CSCI-GA.1170,02
4,Fundamental Algorithms,Yevgeniy Dodis,T 7:10-9:00PM,CSCI-GA.1170,03
...,...,...,...,...,...
128,Special Topics: Introduction to Computer Security,Joseph Bonneau,MW 12:30-1:45PM,CSCI-UA.0480,11
129,Special Topics: Advanced Computer Systems,Michael Walfish,TR 3:30-4:45PM,CSCI-UA.0480,12
130,Special Topics: TBA,TBA,TR 8:00-9:15AM,CSCI-UA.0480,13
131,Special Topics: Data Management and Analysis,Joseph Versoza,TR 9:30-10:45AM,CSCI-UA.0480,14
132,Special Topics: Programming Languages,Edward Yang,TR 11:00-12:15PM,CSCI-UA.0490,01

In [12]:
with open("CSCatalog.html", encoding='utf8') as file:
    CourseList = []
    CoursePre = []
    CourseCreds = []
    dom = BeautifulSoup(file, "html.parser")
    

    for i in range (1, 136, 2):
        #print(dom.select(".row")[2].contents[1].contents[i].contents[1].text.strip()[:13])
        #print(dom.select(".row")[2].contents[1].contents[i].contents[3].text.strip())
        #print(dom.select(".row")[2].contents[1].contents[i].contents[5].text.strip() + "\n")

        CourseList.append(dom.select(".row")[2].contents[1].contents[i].contents[1].text.strip()[:13])
        CoursePre.append(dom.select(".row")[2].contents[1].contents[i].contents[3].text[5:40].strip().replace("\n", ""))
        CourseCreds.append(dom.select(".row")[2].contents[1].contents[i].contents[5].text.strip())

   # print(dom.select(".row")[2].contents[1].contents[2][:100].strip())

    #print(dom.select(".row")[2].contents[1].contents[3].text[:100].strip())

In [13]:
d = { 'Course Number' : CourseList, 'Course Prereqs': CoursePre, 'Course Credits' : CourseCreds}

df2 = pd.DataFrame(data = d)

In [14]:
df2

,Course Number,Course Prereqs,Course Credits
0,CSCI-GA.1120,4 Points.,Prerequisites: None
1,CSCI-GA.1121,4 Points.,Prerequisites: None
2,CSCI-GA.1122,4 Points.,Prerequisites: None
3,CSCI-GA.1133,4 Points.,Prerequisites: None
4,CSCI-GA.1144,4 Points.,Prerequisites: CSCI-GA 1133 or departmental pe...
...,...,...,...
63,CSCI-GA.3860,1 - 12 Poin,Prerequisites: Permission of the thesis advise...
64,CSCI-GA.3870,1-3 Points.,Prerequisites: Permission of Director of Gradu...
65,MAINT-GA.4747,Points.,Prerequisites: None
66,CORE-UA.0109,4 Points.,Prerequisites: Department Permission
67,CSCI-UA.0001,4 Points.,Prerequisites: No prior computing experience i...

In [15]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 3 columns):
Course Number     68 non-null object
Course Prereqs    68 non-null object
Course Credits    68 non-null object
dtypes: object(3)
memory usage: 1.7+ KB

In [16]:
df2.head(5)

,Course Number,Course Prereqs,Course Credits
0,CSCI-GA.1120,4 Points.,Prerequisites: None
1,CSCI-GA.1121,4 Points.,Prerequisites: None
2,CSCI-GA.1122,4 Points.,Prerequisites: None
3,CSCI-GA.1133,4 Points.,Prerequisites: None
4,CSCI-GA.1144,4 Points.,Prerequisites: CSCI-GA 1133 or departmental pe...

In [17]:
df2.tail(5)

,Course Number,Course Prereqs,Course Credits
63,CSCI-GA.3860,1 - 12 Poin,Prerequisites: Permission of the thesis advise...
64,CSCI-GA.3870,1-3 Points.,Prerequisites: Permission of Director of Gradu...
65,MAINT-GA.4747,Points.,Prerequisites: None
66,CORE-UA.0109,4 Points.,Prerequisites: Department Permission
67,CSCI-UA.0001,4 Points.,Prerequisites: No prior computing experience i...

In [18]:
df2.sample(5)

,Course Number,Course Prereqs,Course Credits
52,CSCI-GA.3140,4 Points.,"Prerequisites: Some facility with logic, sets,..."
33,CSCI-GA.2590,3 Points.,Prerequisites: Some facility with Java and Pyt...
0,CSCI-GA.1120,4 Points.,Prerequisites: None
24,CSCI-GA.2520,4 Points.,Prerequisites: None
50,CSCI-GA.3110,4 Points.,Prerequisites: Permission of the instructor fo...

In [19]:
df.merge(df2, how='left', on='Course Number')

,Course Name,Instructor,Course Time,Course Number,Section Number,Course Prereqs,Course Credits
0,PAC II*,Mohamed Zahran,T 6:00-8:30PM,CSCI-GA.1144,01,NaN,NaN
1,PAC II Recitation,TBA,R 7:10-8:00PM,CSCI-GA.1144,02,NaN,NaN
2,Fundamental Algorithms,Chee Yap,M 5:10-7:00PM,CSCI-GA.1170,01,NaN,NaN
3,Fundamental Algorithms Recitation,TBA,W 5:10-6:00PM,CSCI-GA.1170,02,NaN,NaN
4,Fundamental Algorithms,Yevgeniy Dodis,T 7:10-9:00PM,CSCI-GA.1170,03,NaN,NaN
...,...,...,...,...,...,...,...
128,Special Topics: Introduction to Computer Security,Joseph Bonneau,MW 12:30-1:45PM,CSCI-UA.0480,11,NaN,NaN
129,Special Topics: Advanced Computer Systems,Michael Walfish,TR 3:30-4:45PM,CSCI-UA.0480,12,NaN,NaN
130,Special Topics: TBA,TBA,TR 8:00-9:15AM,CSCI-UA.0480,13,NaN,NaN
131,Special Topics: Data Management and Analysis,Joseph Versoza,TR 9:30-10:45AM,CSCI-UA.0480,14,NaN,NaN
132,Special Topics: Programming Languages,Edward Yang,TR 11:00-12:15PM,CSCI-UA.0490,01,NaN,NaN

Currently, there are NaN values in course prereqs and course credits

The behavior of "how=left" makes it so that the course names and all of the columns are properly aligned to read from left to right instead of the other way.

I did some googling, and maybe some usage of concat will work? Perhaps the reason is comes up with NaN is due to a type mismatch